* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('images/Slider_Photo01.png');
  background-size: cover;
  display: flex;
}

nav{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding: 10px 0;
  position: fixed;
  background: rgb(0,0,0,0.8);
  z-index: 1;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eee;
  padding: 10px 20px;
  font-weight: bold;
  transition: all .5s ease-in-out;
}

nav a:hover {
  background: #ffeb3b;
  color: black;
  border-radius: 5px;
}

.heading {
  color: #eee;
  align-self: center;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.heading p {
  font-weight: 100;
  font-size: 1.3rem;
  word-spacing: 2px;
  letter-spacing: 1px;
  padding: 10px 0 30px;
}

.heading span {
  color: #ffeb3b;
}

.heading button {
  background: black;
  color: #ffeb3b;
  border: none;
  padding: 13px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 5px 0 #dddddd40;
  transition: all .5s;
}

.heading button:hover {
    background: #ffeb3b;
    color: black;
}

/* CATEGORIES */

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 50px;
}

#categories {
  background: url('./images/CATEGORIES_BG_IMAGE.png');
  background-size: cover;
  padding: 100px 0;
}

.category_blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 20px;
  justify-content: center;
}

.category {
  border: 1px solid black;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category:nth-child(1) {
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('./images/CATEGORIES_PHOTO_01.png');

}

.category:nth-child(2) {
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('./images/CATEGORIES_PHOTO_02.png');
}

.category:nth-child(3) {
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('./images/CATEGORIES_PHOTO_03.png');
}

.category:nth-child(1),
.category:nth-child(2),
.category:nth-child(3) {
  background-size: cover;
}

h3 {
  color: #ffeb3b;
  text-transform: uppercase;
  padding-top: 50px;
}

.category p {
  padding: 10px 0 30px;
  color: #eee;
  font-weight: 100;
}

.category button {
  visibility: hidden;
  background: none;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 10px 25px;
  color: #eee;
  text-transform: uppercase;
}

.category:hover button{
  visibility: visible;
}

.category button:hover {
  background: #eee;
  color: black;
  cursor: pointer;
}

.category:nth-child(1):hover {
  background-image: linear-gradient(40.5deg, rgba(255, 235, 59, 0.3) 50%, rgba(0,0,0,.4) 50%), url('./images/CATEGORIES_PHOTO_01.png');
}

.category:nth-child(2):hover {
  background-image: linear-gradient(40.5deg, rgba(255, 235, 59, 0.3) 50%, rgba(0,0,0,.4) 50%), url('./images/CATEGORIES_PHOTO_02.png');
}

.category:nth-child(3):hover {
  background-image: linear-gradient(40.5deg, rgba(255, 235, 59, 0.3) 50%, rgba(0,0,0,.4) 50%), url('./images/CATEGORIES_PHOTO_03.png');  
}

/* POPULAR ITEMS */

#popularItems {
  padding: 100px 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 0 30px;
}

.item {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
}

.item img {
  width: 90%;
  transform-origin: bottom;
  transition: all .5s;
}

.item:hover img{
  transform: scale(1.1);
}

.item_options {
  align-self: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_options--info {
  display: grid;
  justify-items: flex-start;
  gap: 5px;
  font-size: 0.85rem;
}

.item-options--buttons > * {
  text-transform: uppercase;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

select {
  padding: 8px 15px;
  border: 1px solid #aaa;
}

.item-options--buttons button {
  border: none;
  background: #aaa;
  padding: 10px 35px;
  outline: none;
  transition: all .5s;
}

.item:hover button,
#submit:hover {
  background: black;
  color: #ffeb3b;
}

/* CONTACT */

#contact {
  background: linear-gradient(#fff, transparent 10%, transparent 95%, #ffeb3b 100%);
  padding: 100px 0;
  position: relative;
}

#contact h2 {
  padding-bottom: 30px;
}

#video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: fill;
}

.form-area {
  background: rgb(255 255 255 / 90%);
  width: 500px;
  padding: 30px 50px;
  margin: 0 auto;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 400px;
}

input, textarea {
  padding: 10px;
  margin: 5px 0;
  font-style: italic;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  text-align: start;
}

.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#submit {
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  background: #607d8b;
  cursor: pointer;
  transition: all .5s;
}

/* FOOTER */

footer {
  background: #ffeb3b;
  padding: 20px 0;
}

footer p {
  padding-top: 10px;
}

footer a {
  text-decoration: none;
  color: currentColor;
  text-shadow: 1px 0px 1px black;
}

/* MEDIA QUERIES */

@media (max-width: 730px) {
  nav a {font-size: .9rem;}
  #header-img {width: 125px;}
  h1 {font-size: 2rem;}
  .heading p {font-size: 1.1rem;}
  .heading button {padding: 10px 15px;}
  h2 {font-size: 1.8rem;}
}